/*Reference of styles : https://doodlenerd.com/html-control*/
@import url('http://fonts.cdnfonts.com/css/games');
body{
  background-image: url(./background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  color: white;
  font-size: 50px;

  margin-top: 50px;
  font-family: 'Games', sans-serif;
}

.App{
  background-color: rgba(0,0,0,0.65);
  display: flex;
  margin: 0 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2{
  color: white;
  font-size: 30px;
  font-family: 'Games', sans-serif;
}

h3{
  color: white;
  /* font-family: 'Games', sans-serif; */
}

.options-checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.join{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white
}

.create{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*Input */
.css-input {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.css-input:focus {
  outline:none;
}

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 29px;
  margin-bottom: 24px;
  margin-top: 24px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}
  .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
  }
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px dotted #d10d0d;
  border-radius: 7px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #12c430;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}
@keyframes s-ripple {
  0% {
      transform: scale(0);
  }
  20% {
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(1);
  }
}
@keyframes s-ripple-dup {
 0% {
     transform: scale(0);
  }
 30% {
      transform: scale(1);
  }
  60% {
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(1);
  }
}
.control-checkbox input + .control_indicator::before {
  animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
  animation-name: s-ripple-dup;
}

.tutorial {
  font-size: 10rem;
  position: absolute;
  top: 0;
  right: 2vw;
  color: white;
}

.tutorial:hover {
  color: red;
  cursor: pointer;
}
