html{
    margin: 0;
}

.create-room{
    background-color: rgba(0,0,0,0.65);
    display: flex;
    margin: 0 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .myButton-room {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton-room:hover {
	background-color:#5cbf2a;
}
.myButton-room:active {
	position:relative;
	top:1px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  .copy-btn {
	background-color:#44c767;
  width: 5rem;
  height: 2.5rem;
  margin: 1rem;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
  font-weight: bold;
	color:#ffffff;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.copy-btn:hover {
	background-color:#5cbf2a;
}
.copy-btn:active {
	position:relative;
	top:1px;
}

/*Input */
.css-input-room {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75);
  margin-bottom: 12px;
}
.css-input-room:focus {
  outline:none;
}
