
.player-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;

  .player-cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      div {
          div {
              margin-left: -4rem;
          }
      }
  }
}